*{
    list-style:none;
    text-decoration: none;
}
body{
    font-family: 'open sans';
    .contenedor{
        max-width: 1000px;
        margin: auto;
        .tarjeta{
            // max-width: 1000px;
            // margin: auto;
            margin-top: 100px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            border-radius: 38px;
            padding: 20px 5px 20px 5px;
            // box-shadow: 0 0 20px rgba(0,0,0,0.1);
            border: 3px solid #F2E9E9;
            .imagen{
                overflow: hidden;
                img{
                height: 415px;
                margin: auto;
                object-fit: cover;
                object-position: center;
                transition: 1s;
                box-sizing: border-box;
                }
            }
            .rol{
                max-width: 500px;
                margin-left: 40px;
                margin-right: 25px;
                h2{
                    color: black;
                    font-size: 27px;
                    margin-bottom: 8px;
                }
                h3{
                    color: #f58323;
                    font-size: 17px;
                    margin:0px;
                }
                p{
                    color: black;
                    font-size: 16px;
                    // width: 344px;
                    // margin-top: 8px;
                    // margin-bottom: 25px;
                }
                h5{
                    color: grey;
                    font-size: 16px;
                    margin: 0px;
                }
                a{
                    &:hover{
                        color: #949494;
                        text-decoration: underline;
                    }
                    .generica{
                        max-width: 230px;
                        margin: 3px;
                        display: flex;
                        align-items: center;
                        text-decoration: none;
                        color: #3E3C3C;
                        font-size: 16px;
                        margin-top: 6px;
                        .fa.fa-whatsapp{
                            align-items: center;
                            color: green;
                            margin-right: 6px;
                        }
                        .fa.fa-envelope{
                            align-items: center;
                            font-size: 15px;
                            color: orange;
                            margin-right: 6px;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 500px) {
    body{
        .contenedor{
            width: 85%;
            margin: auto;
            padding: 0px 18px;
            border-radius: 25px;
            -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
            border: 5px solid #F2E9E9;
            .tarjeta{
                width: 100%;
                display: flex;
                flex-direction: column;
                box-shadow: none;
                margin-top: 0px;
                padding: 0px;
                border: none;
                .imagen{
                    // text-align: center;
                    width: 100%;
                    margin: auto;
                    img{
                        height: auto;
                        width: 100%;
                    }
                }
                .rol{
                    width: 100%;
                    margin: auto;
                    h2{
                        font-size: 23px;   
                        margin-bottom: 3px;
                    }
                    h3{
                        font-size: 17px;
                    }
                    p{
                        font-size: 15px;
                    }
                    .contact{
                        font-size: 16px;
                        margin-bottom: 15px;
                    }
                    .contact1{
                        font-size: 16px;
                    }
                }
            }
        }
    }
}