*{
    list-style:none;
    text-decoration: none;
}
html{
    // user-select: none;
}
body{
    // max-width: 1280px;
    // margin: auto;
    // font-family: 'Roboto, Sans Serif';
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    .contenedor{
        max-width: 1280px;
        margin: auto;
        .history{
            max-width: 1100px;
            margin: auto;
            display: flex;
            padding-top: 35px;
            .imagen{
                width: 50%;
                img{
                    width: 100%;
                    height: auto;
                    border-radius: 30px;
                }
            }
            .descrip{
                width: 50%;
                margin-left: 35px;
                h2{
                    color:#f58323;
                }
                p{
                    line-height: 1.5;
                }
            }
        }

        .actualidad{
            max-width: 1100px;
            margin: 30px auto;
            display: flex;
            padding: 0px;
            padding-bottom: 45px;
            flex-direction: row-reverse;
            .imagen{
                width: 50%;
                img{
                    width: 100%;
                    height: auto;
                    border-radius: 30px;
                }
            }
            .descrip{
                width: 50%;
                // margin-left: 35px;
                margin-right: 20px;
                h2{
                    color: #f58323;
                }
                p{
                    line-height: 1.5;
                }
            }
        }
        .boton{
            text-align: center;
            .tittle{
                // display: flex;
                // justify-content: center;
                // align-items: center;
                h3{
                    font-size: 26px;
                    color: black;
                    // margin: 0px 30px;
                }
                img{
                    height: 50px;
                }
            }
            button{
                background-color: #f58323;
                color: white;
                border: none;
                border-radius: 3px;
                font-size: 18px;
                padding: 10px 15px;
                outline: none;
                cursor: pointer;
                &:hover{
                    background-color: black;
                    // color: #f58323;
                }
            }
        }
        .titulo{
            padding-top: 80px;
            h2{
                // color: #f58323;
                color: #3E3C3C;
                text-decoration: underline 1px solid white;
                font-size: 35px;
                margin-left: 5px;
                margin-bottom: 5px;
            }
            img{
                height: 60px;
                margin: 0px;
                padding-bottom: 15px;
            }
        }
        .titulo1{
            // text-align: center;
            h2{
                // color: #f58323;
                color: #3E3C3C;
                text-decoration: underline 1px solid white;
                font-size: 30px;
                margin-left: 5px;
                margin-bottom: 5px;
            }
            img{
                height: 60px;
                margin: 0px;
                padding-bottom: 15px;
            }
        }
        .botones{
            display: flex;
            justify-content: flex-end;
            // margin-bottom: 20px;
            // max-width: 1100px !important;
            margin: auto;
            padding-bottom: 20px;
            button{
                color: black;
                // // background: black;
                background: white;
                box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
                font-size: 15px;
                border-radius: 10px;
                margin-left: 12px;
                border: 0px;
                padding: 7px;
                cursor: pointer;
                outline: none;
                transition: .3s;
                &:hover{
                    color: #f58323;
                    // background-color: #000000;
                }
                &.active{
                    // background: #f58323;
                    color: white;
                    // background: rgba(0, 0, 0, 0.3);
                    background-color: #8E8472;
                    background-color: #f58323;
                    // color: #f58323;
                }
            }
        }
        // .empleados.categoria2{
        //     display: none;
        //     // display: flex;
        // }
        // .empleados.categoria3{
        //     display: none;
        //     // display: flex;
        // }
        // .empleados.categoria3{
        //     display: none;
        // }
        .empleados{
            max-width: 1280px;
            margin: auto;
            // justify-content: flex-end;
            // justify-content: center;
            background: #fff;
            // display: none;
            // display: flex;
            margin-bottom: 40px;
            flex-wrap: wrap;
            .titulo{
                display: flex;
                // flex-direction: row-reverse;
                flex-wrap: wrap-reverse;
                padding-top: 5px;
                padding-bottom: 15px;
                .title{
                    font-size: 22px;
                }
                img{
                    order: -1;
                }
            }
            .cards{
                display: flex;
                flex-wrap: wrap;
                .card-one{
                    width: 22%;
                    // max-width: 420px;
                    // margin-top: 10px;
                    // margin-left: 50px;
                    margin: 15px 19px;
                    border-radius: 38px;
                    padding: 0;
                    box-shadow: 0 0 20px rgba(0,0,0,0.1);
                    overflow: hidden;
                    .single{
                        display: flex;
                        width: 100%;
                        box-sizing: border-box;
                        margin: 15px 0;
                        padding: 0 15px;
                        overflow: hidden;
                        img{
                            height: 260px;
                            width: 100%;
                            display: block;
                            text-align: center;
                            object-fit: cover;
                            object-position: center;
                            transition: 1s;
                            box-sizing: border-box;
                            &:hover{
                                // -webkit-transform:scale(1.1);
                                // transform:scale(1.1);
                                // transition: .5s;
                                // filter: grayscale(80%);
                                // -webkit-transform:scale(1.15);transform:scale(1.15);
                                transition: 1s;
                                transform: scale(1.10);

                                // -webkit-transform: rotateY(180deg);
                                // -webkit-transform-style: preserve-3d;
                                // transform: rotateY(180deg);
                                // transform-style: preserve-3d;
                                // background: url(juanchota.jpg);
                            }
                        }
                    }
                    .rol{
                        margin-left: 18px;
                        margin-bottom: 20px;
                        h2{
                            // color: black;
                            color:  #6E6E6E;
                            font-size: 22px;
                            margin-top: 0px;
                            margin-bottom: 0px;
                        }
                        h4{
                            // color: #777474;
                            color:  #949494;
                            font-size: 14px;
                            margin-top: 10px;
                            margin-bottom: 2px;
                            font-style: italic; 
                        }
                        h3{
                            color: #f58323;
                            font-size: 15px;
                            // margin:0px;
                            max-width: 205px;
                            // margin-bottom: 5px;
                            margin: 0px 0px 8px 0px;
                        }
                        p{
                            color: black;
                            font-size: 15px;
                            max-width: 230px;
                            margin-top: 0px;
                            margin-bottom: 8px;
                        }
                        .contact1{
                            margin-top: 0px;
                            ul{
                                display: flex;
                                align-items: center;
                                margin: 0px;
                                padding: 0px;
                                .fa.fa-whatsapp{
                                    display: flex;
                                    align-items: center;
                                    // color: orange;
                                }
                                li{
                                    // margin: 5px;
                                    margin-right: 6px;
                                    display: flex;
                                    align-items: center;
                                    font-size: 15px;
                                    color: grey;
                                    
                                    a{
                                        text-decoration: none;
                                        color: #3E3C3C;
                                        font-size: 14px;
                                    }
                                }
                            }
                        }
                        .contact{
                            margin-top: 8px;
                            ul{
                                display: flex;
                                align-items: center;
                                margin: 0px;
                                padding: 0px;
                                .fa.fa-whatsapp{
                                    display: flex;
                                    align-items: center;
                                    color: grey;
                                }
                                li{
                                    // margin: 5px;
                                    margin-right: 6px;
                                    display: flex;
                                    align-items: center;
                                    font-size: 15px;
                                    color: grey;
                                    a{
                                        text-decoration: none;
                                        color: #3E3C3C;
                                        font-size: 14px;
                                        &:hover{
                                            color: green;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        &.active{
            display: flex;
        }
    }
}

@media screen and (max-width: 500px) {
    body{
        // width: 100%;
        .contenedor{
            width: 90%;
            margin: auto;
            .history{
                width: 100%;
                margin: auto;
                display: flex;
                flex-direction: column;
                padding-top: 0px;
                .imagen{
                    width: 100%;
                    margin: auto;
                }
                .descrip{
                    width: 100%;
                    margin: auto;
                    p{
                        max-width: 320px;
                        font-size: 17px;
                        line-height: 1.3;
                    }
                }
            }
            .actualidad{
                display: flex;
                flex-direction: column;
                margin-bottom: 10px;
                padding-bottom: 0px;
                .imagen{
                    width: 100%;
                }
                .descrip{
                    width: 100%;
                    // margin-left: 40px;
                    p{
                        max-width: 330px;
                        font-size: 17px;
                        line-height: 1.3;
                    }
                }
            }
            .boton{
                padding-top: 30px;
                padding-bottom: 30px;
                .tittle{
                    h3{
                        font-size: 22px;
                        text-align: center !important;
                    }
                    button{
                        border-radius: 10px;
                        font-size: 15px;
                        padding: 8px 11px;
                    }
                }
            }
            .titulo{
                padding-top: 50px;
                h2{
                    font-size: 28px;
                }
                img{
                    height: 40px;
                }
            }
            .botones{
                display: flex;
                justify-content: center;
            }
            .empleados{
                flex-direction: column;
                flex-wrap: wrap;
                .titulo{
                    align-items: center;
                    .title{
                        margin: 0px;
                    }
                    img{
                        padding: 0px;
                    }
                }
                .cards{
                    margin-bottom: 10px;
                    .card-one{
                        width: 90%;
                        margin: auto;
                        margin-top: 15px;
                        margin-bottom: 15px;
                        .rol{
                            margin-right: 10px;
                            margin-left: 22px;
                            p{
                                margin-top: 0px;
                                margin-bottom: 10px;
                                margin-right: 15px;
                            }
                            h3{
                                max-width: 260px;
                            }
                            .contact{
                                margin-bottom: 20px;
                            }
                        }
                        a{
                        // box-sizing: border-box;
                        // margin: 15px 0;
                        // padding: 0 15px;
                        // overflow: hidden;
                            img{
                                height: 270px;
                                margin: auto;
                                width: 90%;
                                // object-fit: cover;
                                // object-position: center;
                                // transition: 1s;
                                // box-sizing: border-box;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 375px) {
    body{
        .contenedor{
            .empleados{
                .card-one{
                    width: 100%;
                    margin: auto;
                    margin-top: 15px;
                    margin-bottom: 15px;
                }
            }
            .botones{
                flex-direction: column;
                button{
                    margin: 4px;
                }
            }
        }
    }
}
@media screen and (max-width: 320px) {
    body{
        .contenedor{
            .botones{
                flex-direction: column;
                button{
                    margin: 4px;
                }
            }
        }
    }
}