* {
  list-style: none;
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

body .contenedor {
  max-width: 1280px;
  margin: auto;
}

body .contenedor .history {
  max-width: 1100px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 35px;
}

body .contenedor .history .imagen {
  width: 50%;
}

body .contenedor .history .imagen img {
  width: 100%;
  height: auto;
  border-radius: 30px;
}

body .contenedor .history .descrip {
  width: 50%;
  margin-left: 35px;
}

body .contenedor .history .descrip h2 {
  color: #f58323;
}

body .contenedor .history .descrip p {
  line-height: 1.5;
}

body .contenedor .actualidad {
  max-width: 1100px;
  margin: 30px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
  padding-bottom: 45px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

body .contenedor .actualidad .imagen {
  width: 50%;
}

body .contenedor .actualidad .imagen img {
  width: 100%;
  height: auto;
  border-radius: 30px;
}

body .contenedor .actualidad .descrip {
  width: 50%;
  margin-right: 20px;
}

body .contenedor .actualidad .descrip h2 {
  color: #f58323;
}

body .contenedor .actualidad .descrip p {
  line-height: 1.5;
}

body .contenedor .boton {
  text-align: center;
}

body .contenedor .boton .tittle h3 {
  font-size: 26px;
  color: black;
}

body .contenedor .boton .tittle img {
  height: 50px;
}

body .contenedor .boton button {
  background-color: #f58323;
  color: white;
  border: none;
  border-radius: 3px;
  font-size: 18px;
  padding: 10px 15px;
  outline: none;
  cursor: pointer;
}

body .contenedor .boton button:hover {
  background-color: black;
}

body .contenedor .titulo {
  padding-top: 80px;
}

body .contenedor .titulo h2 {
  color: #3E3C3C;
  -webkit-text-decoration: underline 1px solid white;
          text-decoration: underline 1px solid white;
  font-size: 35px;
  margin-left: 5px;
  margin-bottom: 5px;
}

body .contenedor .titulo img {
  height: 60px;
  margin: 0px;
  padding-bottom: 15px;
}

body .contenedor .titulo1 h2 {
  color: #3E3C3C;
  -webkit-text-decoration: underline 1px solid white;
          text-decoration: underline 1px solid white;
  font-size: 30px;
  margin-left: 5px;
  margin-bottom: 5px;
}

body .contenedor .titulo1 img {
  height: 60px;
  margin: 0px;
  padding-bottom: 15px;
}

body .contenedor .botones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: auto;
  padding-bottom: 20px;
}

body .contenedor .botones button {
  color: black;
  background: white;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  font-size: 15px;
  border-radius: 10px;
  margin-left: 12px;
  border: 0px;
  padding: 7px;
  cursor: pointer;
  outline: none;
  -webkit-transition: .3s;
  transition: .3s;
}

body .contenedor .botones button:hover {
  color: #f58323;
}

body .contenedor .botones button.active {
  color: white;
  background-color: #8E8472;
  background-color: #f58323;
}

body .contenedor .empleados {
  max-width: 1280px;
  margin: auto;
  background: #fff;
  margin-bottom: 40px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body .contenedor .empleados .titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  padding-top: 5px;
  padding-bottom: 15px;
}

body .contenedor .empleados .titulo .title {
  font-size: 22px;
}

body .contenedor .empleados .titulo img {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

body .contenedor .empleados .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body .contenedor .empleados .cards .card-one {
  width: 22%;
  margin: 15px 19px;
  border-radius: 38px;
  padding: 0;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

body .contenedor .empleados .cards .card-one .single {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 15px 0;
  padding: 0 15px;
  overflow: hidden;
}

body .contenedor .empleados .cards .card-one .single img {
  height: 260px;
  width: 100%;
  display: block;
  text-align: center;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body .contenedor .empleados .cards .card-one .single img:hover {
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

body .contenedor .empleados .cards .card-one .rol {
  margin-left: 16px;
  margin-bottom: 20px;
}

body .contenedor .empleados .cards .card-one .rol h2 {
  color: #6E6E6E;
  font-size: 22px;
  margin-top: 0px;
  margin-bottom: 0px;
}

body .contenedor .empleados .cards .card-one .rol h4 {
  color: #949494;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 2px;
  font-style: italic;
}

body .contenedor .empleados .cards .card-one .rol h3 {
  color: #f58323;
  font-size: 15px;
  max-width: 205px;
  margin: 0px 0px 8px 0px;
}

body .contenedor .empleados .cards .card-one .rol p {
  color: black;
  font-size: 15px;
  max-width: 230px;
  margin-top: 0px;
  margin-bottom: 8px;
}

body .contenedor .empleados .cards .card-one .rol a:hover {
  color: #949494;
  text-decoration: underline;
}

body .contenedor .empleados .cards .card-one .rol a .generica {
  font-size: 13.5px;
  max-width: 230px;
  margin: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: #3E3C3C;
  font-size: 14px;
  margin-top: 6px;
}

body .contenedor .empleados .cards .card-one .rol a .generica .fa.fa-whatsapp {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: green;
  margin-right: 6px;
}

body .contenedor .empleados .cards .card-one .rol a .generica .fa.fa-envelope {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
  color: grey;
  margin-right: 6px;
}

body .contenedor.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 500px) {
  body .contenedor {
    width: 90%;
    margin: auto;
  }
  body .contenedor .history {
    width: 100%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 0px;
  }
  body .contenedor .history .imagen {
    width: 100%;
    margin: auto;
  }
  body .contenedor .history .descrip {
    width: 100%;
    margin: auto;
  }
  body .contenedor .history .descrip p {
    max-width: 320px;
    font-size: 17px;
    line-height: 1.3;
  }
  body .contenedor .actualidad {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 10px;
    padding-bottom: 0px;
  }
  body .contenedor .actualidad .imagen {
    width: 100%;
  }
  body .contenedor .actualidad .descrip {
    width: 100%;
  }
  body .contenedor .actualidad .descrip p {
    max-width: 330px;
    font-size: 17px;
    line-height: 1.3;
  }
  body .contenedor .boton {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  body .contenedor .boton .tittle h3 {
    font-size: 22px;
    text-align: center !important;
  }
  body .contenedor .boton .tittle button {
    border-radius: 10px;
    font-size: 15px;
    padding: 8px 11px;
  }
  body .contenedor .titulo {
    padding-top: 50px;
  }
  body .contenedor .titulo h2 {
    font-size: 28px;
  }
  body .contenedor .titulo img {
    height: 40px;
  }
  body .contenedor .botones {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .contenedor .empleados {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  body .contenedor .empleados .titulo {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .contenedor .empleados .titulo .title {
    margin: 0px;
  }
  body .contenedor .empleados .titulo img {
    padding: 0px;
  }
  body .contenedor .empleados .cards {
    margin-bottom: 10px;
  }
  body .contenedor .empleados .cards .card-one {
    width: 90%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  body .contenedor .empleados .cards .card-one .rol {
    margin-right: 10px;
    margin-left: 22px;
  }
  body .contenedor .empleados .cards .card-one .rol p {
    margin-top: 0px;
    margin-bottom: 10px;
    margin-right: 15px;
  }
  body .contenedor .empleados .cards .card-one .rol h3 {
    max-width: 260px;
  }
  body .contenedor .empleados .cards .card-one .rol .contact {
    margin-bottom: 20px;
  }
  body .contenedor .empleados .cards .card-one a img {
    height: 270px;
    margin: auto;
    width: 90%;
  }
}

@media screen and (max-width: 375px) {
  body .contenedor .empleados .card-one {
    width: 100%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  body .contenedor .botones {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .contenedor .botones button {
    margin: 4px;
  }
}

@media screen and (max-width: 320px) {
  body .contenedor .botones {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .contenedor .botones button {
    margin: 4px;
  }
}
/*# sourceMappingURL=style.css.map */